:root{
    --C1: #25324B;
    --C2: #515B6F;
    --C3: #26A4FF;
    --C4: #4640DE;
    --C5: #FFFFFF;
    --C6: #8D93A1;
    --C7: #9DA3AE;
    --C8: #FDF3EB;
    --C9: #e59711;
    --C10: #EEFAF7;
    --C11: #56CDAD;
    --C12: #202430;



}