@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('color.css');

.container_f{
    margin-top: 10px;
    background: var(--C14);
    padding:15px 9%;  
}

.container_f .heading0{
    text-align: left;
    margin-bottom: 2%;
    padding-bottom: 10px;
    font-family: 'Roc-Grotesk';
    font-size: 42px;
}

.container_f .box-container_f{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:33px;
}

.box_f{
    display: flexbox;
    justify-self: flex-start;
    flex-direction: column;
    /* box-shadow: 0 5px 10px rgba(0,0,0,.2); */
    border-radius: 2px;
    background: var(--C5);
    padding:30px 20px;
}

.box_f img{
    float: left;
    height: 40px;
    margin-left: 2%;
}

.btn_f{
    float:right;
    font-size: 16px;
    color: var(--C4);
    border:5px solid var(--C4);
    border-width: thin;
    padding: 5px;
}
.box_f p{
    font-size: 16px;
    font-weight: 300;
}

.job{
    text-decoration: none;
    text-align: start;
    color:var(--C1);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10%;
    padding-top: 2%;
    
}
a{
    color:var(--C1);
}
.p{
    justify-content: flex-start;
    float: left;
    font-weight: 400;
    padding-top: 1%;
    letter-spacing: normal;
    line-height:.75cm;
    color: var(--C6);
}
.para{
    float: left;
    justify-content: flex-start;
    text-align: start;
    font-weight: 300;
    margin-top: 8%;
    margin-bottom: 3%;
    color: var(--C7);
}

.btn_f0{
    float: left;
    background-color: var(--C8);
    color:var(--C9);
    border:5px solid;
    border-width: thin;
    border-radius: 30px;
    margin: 5px;
    padding:2px 17px 2px 17px;
    font-weight: 500;
}

.btn_f01{
    background-color: var(--C10);
    color:var(--C11);
}

.container_f .box-container_f .box_f:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}


@media (max-width:768px){
    .container_f{
        padding:15px;
    }
    .p{
        
        line-height:.75cm;
    }
}