@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('color.css'); 


.row{
	display: flex;
	flex-wrap: wrap;
}
.container1{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--C12);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--C5);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	margin-left: 33%;
	text-align: start;
	font-size: 16px;
	position: relative;
	text-transform: capitalize;
	color: var(--C5);
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--C5);
	padding-left: 8px;
}
.footer p{
	font-size: 15px;
	line-height: 0.55cm;
	text-align: start;
}
#right{
	
		color: var(--C5);
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		text-transform: capitalize;
		font-weight: 300;
	
}
.footer-col .social-links{
	color: var(--C5);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 300;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--C5);
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--C1);
	background-color: var(--C5);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer-col ul li a{
	text-align: center;
	margin-left: 0;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.footer-col ul li a{
	text-align:center;
	margin-left: 0;
}
}




