@import url('color.css');
/* .container-home img{
    height: 563px;
} */

.container-home{
    background-image: url(../images//bg.png);
    background-size: cover;
    height: 563px;
    width: 100%;
    background-position: center;
}

.content-home{
    position: absolute;
    top:25%;
    left:5%
}
.container-home h2{
    font-size: 40px;
    font-weight: 600px;
    color: var(--C1);
}
.container-home p{
    margin-top: 20px;
    font-size:20px;
    line-height: 25px;
}
.contain-search{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    background-color: var(--C5);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    border-radius: 3px ;
    width: 700px;
    height: 100px;
    align-items: center;
    padding: 10px;
}
.btn-search{
    width: 20%;
    background-color:var(--C13); 
    padding: 5px;
    height: 40px;
    font: var(--t2);
    color: var(--C5);
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 7px;
    font-size: 18px;
}
.btn-search:hover{
    background-color: var(--C3);
}
/* .form-field-search{
    width: 80%;
    padding: 0.5rem 1rem;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background-color: var(--C5);
    font-size: 16px;
    margin-bottom: 10px;
    transition: 0.3s;
} */

@media (max-width:1024px){
    .container-home{
        background-image: url(../images//bg0.png);   
    }
}
@media (max-width:768px){

    .contain-search{
        display: inline;
        box-shadow: none;
        background-color: transparent;
    }
    .btn-search{
        font-size: 12px;
        box-shadow: none;
    }
.content-home{
    margin-top: 15%;
    align-items: center;
}
    
    
}