@import url(color.css);
@import url(reset.css);
@import url(font_styles.css);

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* logo and navlinks of 1st section */
.first-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}


/* Login Signup dropdown class */
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropbtn{
	padding: 10px;
	height: 40px;
	background-color: var(--C5);
	font: var(--t1);
	color: var(--C4);
}


.dropdown-content {
	
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
	background-color: var(--C4);
	color: var(--C5);
}
