@import url(color.css);
@import url(reset.css);
@import url(font_styles.css);

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* logo and navlinks of 1st section */
.first-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 8%;
}

.logo {
  margin-right: 40px;
}

.first-section li a {
  font: var(--t2);
  color: var(--C1);
  margin: 10px;
  padding-bottom: 25px;
}

.first-section li:hover a, 
.first-section li.active a{
  color: var(--C13);
  border-bottom: 4px solid var(--C13);
}

/* Login Signup dropdown class */
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 8%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 120px;
  background-color:var(--C15); 
  padding: 5px;
  height: 45px;
  font: var(--t2);
  color: var(--C5);
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 3px;
}

.dropdown-content {
  width: 120px;
  margin-left: 2.5px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color:var(--C15);
  font: var(--t1);
  text-align: start;

}

.dropdown-content div{
  border-top:solid 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.dropdown-content div:hover{
  background-color:var(--C13); 
}

.dropdown-content a{
  color: var(--C5);
  padding-left: 10px;
}


.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: var(--C13);

}
