@import url('color.css');
@import url('reset.css');
@import url('font_styles.css');

.profile-company0{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    /* flex-direction: column; */
    margin-top: 0;
    background: var(--C14);
    height: 100vh;
   
}
.profile-company-container{
    width: 460px;
    margin-left: 35%;
    margin-top: 3%;
}
.profile-company-container h2{
    font-size: 35px;
    font-weight: 600;
    color: var(--C1);
    margin: 5%;
    margin-bottom: 10%;
}



@media(max-width: 1024px){
    .profile-company-container{
        margin-left: auto;
    }
}